@model List<DetallesventaModel>

@{
    ViewData["Title"] = "MultiDetallesventa";
}
<h1>DETALLES DE VENTA</h1>
<table class="table" cellpadding="0" cellspacing="0" width="75%" bgcolor="#84b6f4">
    <thead>
        <tr>
            <th scope="col">
                ID
            </th>
            <th scope="col">
                DETALLESVENTA
            </th>
            <th scope="col">
                FECHA
            </th>
            <th scope="col">
                LUGAR
            </th>
            <th scope="col">
                CANTIDAD
            </th>
            <th scope="col">
                PRECIOUNITARIO
            </th>
            <th scope="col">
                IDMEDICAMENTO
            </th>
            <th scope="col">
                IDVENTA
            </th>
            <th scope="col">
                IDRECETA
            </th>
            <th scope="col">
                FECHACREACION
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detallesventa in Model)
        {
            <tr>
                <td>
                    @detallesventa.Id
                </td>
                <td>
                    @detallesventa.DetallesVenta
                </td>
                <td>
                    @detallesventa.Fecha
                </td>
                <td>
                    @detallesventa.Lugar
                </td>
                <td>
                    @detallesventa.Cantidad
                </td>
                <td>
                    @detallesventa.PrecioUnitario
                </td>
                <td>
                    @detallesventa.IdMedicamento
                </td>
                <td>
                    @detallesventa.IdVenta
                </td>
                <td>
                    @detallesventa.IdReceta
                </td>
                <td>
                    @detallesventa.FechaCreacion
                </td>
                
      
            </tr>
        }
    </tbody>
</table>