@model ProveedorModel
@{
    ViewData["Title"] = "Información del Proveedor";
}
<h1>Proveedor</h1>
<h2>Id:@Model.Id </h2>
<h2>Nombre:@Model.Nombre </h2>
<address>
    <p><strong>Telefono: @Model.Telefono </strong></p>
    <p><strong>Correo: @Model.Correo </strong></p>
    <p><strong>Direccion: @Model.Direccion </strong></p>
    <p><strong>Ruc: @Model.Ruc </strong></p>
    <p><strong>IdMedicamento: @Model.IdMedicamento </strong></p>
    <p><strong>Clave: @Model.Clave </strong></p>
    <p><strong>FechaCreacion: @Model.FechaCreacion </strong></p>
      


    </address>

