@model EmpleadoModel
@{
    ViewData["Title"] = "Información de Empleado";
}
<h1>Empleado</h1>
<h2>Id:@Model.Id </h2>
<h2>Nombre:@Model.Nombre </h2>
<address>
        <p><strong>Apellido: @Model.Apellido </strong></p>
        <p><strong>Direccion: @Model.Direccion </strong></p>
        <p><strong>Telefono: @Model.Telefono </strong></p>
        <p><strong>Correo: @Model.Correo </strong></p>
        <p><strong>Cedula: @Model.Cedula </strong></p>
        <p><strong>FechaNacimiento: @Model.FechaNacimiento </strong></p>
        <p><strong>IdUsuario: @Model.IdUsuario </strong></p>
        <p><strong>Clave: @Model.Clave </strong></p>
        <p><strong>Fecha Creación: @Model.FechaCreacion </strong></p>


    </address>

