@model List<SucursalModel>

@{
    ViewData["Title"] = "MultiSucursal";
}
<h1>DATOS DE LA SUCURSAL</h1>
<table class="table" cellpadding="0" cellspacing="0" width="75%" bgcolor="#84b6f4">
    <thead>
        <tr>
            <th scope="col">
                ID
            </th>
            <th scope="col">
                UBICACION
            </th>
            <th scope="col">
                RUC
            </th>
            <th scope="col">
                IDDIRECCION
            </th>
            <th scope="col">
                IDEMPLEADO
            </th>
            <th scope="col">
                FECHACREACION
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sucursal in Model)
        {
            <tr>
                <td>
                    @sucursal.Id
                </td>
                <td>
                    @sucursal.Ubicacion
                </td>
                <td>
                    @sucursal.Ruc
                </td>
                <td>
                    @sucursal.IdDireccion
                </td>
                <td>
                    @sucursal.IdEmpleado
                </td>
                <td>
                    @sucursal.FechaCreacion
                </td>
                
      
            </tr>
        }
    </tbody>
</table>