@model IEnumerable<MedicamentoModel>

@{
    ViewData["Title"] = "Información de Medicamento";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear Nuevo Medicamento</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Stock
            </th>
            <th>
                FechaCreacion
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacion)
                </td>
                <td>


                    <a asp-action="Details" asp-route-id="@item.Id">Detalles del Objeto</a>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar Producto</a>

                </td>
            </tr>
        }
    </tbody>
</table>
